.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 19px;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 680px) {
  .page {
    padding: 0;
  }
}