.profile {
  color: #fff;
  font-family: Inter;
  margin: 36px auto 0;
  max-width: 880px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    margin: 42px 19px 0;
  }
}