.profile__add {
  justify-self: center;
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  background: url(../../../images/profile-button-icon.svg) no-repeat center center;
  transition: opacity 0.3s;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer
}

@media screen and (max-width: 680px) {
  .profile__add {
    margin-top: 33px;
    width: 100%;
  }
}