.card__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  padding: 0;
  height: 20px;
  border: 0;
  background: url(../../../images/delete-icon.svg);
  align-self: center;
  transition: background 0.3s;
  cursor: pointer;
}

.card__delete:hover {
  background: url(../../../images/delete-icon-hover.svg);
  fill: red;
}
